<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyDqJ_xs3Fu3UGj9_0c55W6CMjxXU68ZEpU</string>
	<key>GCM_SENDER_ID</key>
	<string>382993227198</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.prosperplay.errorHandlingAndLogging</string>
	<key>PROJECT_ID</key>
	<string>error-logging-test-13358</string>
	<key>STORAGE_BUCKET</key>
	<string>error-logging-test-13358.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:382993227198:ios:6d379a2f74944a6a4dadef</string>
</dict>
</plist>